.parteipadair {
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;

}
.regular3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 0px;

 
}
.regularcomlink6, .regularcomlink7 {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 44px;
  color: rgb(0, 102, 204);
  margin-top: 1px;
  margin-right: 35px;
 
}
.parteipadair1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 88px;
}
