.partedaunicef {
    display: flex;
    align-items: center;
    justify-content: center;   
    background-color: rgb(245, 245, 247);
    
}
.regularcomlink1 {
    padding-left: 7.5px;
    padding-right: 7.5px;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 12px;
}
.logounicef {
    padding-left: 7.5px;
    padding-right: 7.5px;
    padding-bottom: 17px;
     padding-top: 16px;
}

